@using WeatherSuggest.Shared.DTOs

@if (Location != null)
{
    <div class="location-card" style="@Style" @onclick="HandleLocationClick"><!--cssnowarn:CSS024-->
        <h3>@Location.Name</h3>
        <p><Icon Name="IconName.Globe" class="icon" /> Country: @Location.Country</p>
        <p><Icon Name="IconName.Geo" class="icon" /> State: @Location.State</p>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public GeoResponseDto? Location { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnLocationClick { get; set; }

    [Parameter, EditorRequired]
    public string? Style { get; set; }

    private async Task HandleLocationClick()
    {
        await OnLocationClick.InvokeAsync();
    }
}
