.weather-card {
    font-family: "Montserrat", sans-serif;
    border: 7px solid #222831;
    border-radius: 25px;
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: #222831;
    color: #ffffff;
    height: 475px;
    overflow: hidden;
    display: flex;
}

.weather-side {
    position: relative;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    width: 300px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    transition: transform 300ms ease;
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;
}

.weather-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    border-radius: 25px;
    opacity: 0.8;
}

.date-container {
    position: absolute;
    top: 25px;
    left: 25px;
}

.date-dayname {
    margin: 0;
    font-weight: 700;
}

.date-day {
    display: block;
    font-size: 1.2em;
}

.location {
    display: inline-block;
    margin-top: 10px;
    font-weight: 700;
}

.location-icon {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
}

.weather-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
    width: 100%;
}

.weather-temp {
    margin: 0;
    font-weight: 700;
    font-size: 3em;
    color: #e74c3c;
}

.weather-desc {
    margin: 0;
    color: #ecf0f1;
}

.info-side {
    position: relative;
    float: left;
    height: 100%;
    width: 350px;
    padding-top: 25px;
    font-size: 14px;
}

.details-container {
    padding: 15px;
    margin: 0 25px 25px 25px;
    border-radius: 10px;
    background-color: #222831;
}

.details div:not(:last-child) {
    margin: 0 0 10px 0;
}

.details div .title {
    font-weight: 700;
    color: #ecf0f1;
}

.details div .value {
    color: #ecf0f1;
}

.location-container {
    position: relative;
    padding: 25px 40px;
}

.location-button {
    position: relative;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    padding: 10px;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 200ms ease;
}

@media only screen and (max-width: 768px) {
    .weather-card {
        font-size: 11px;
        height: 425px;
        width: 350px;
        overflow: hidden;
    }

    .weather-side {
        position: relative;
        height: 100%;
        border-radius: 25px;
        float: left;
        width: 100%;
    }

    .info-side {
        width: 100%;
        font-size: 10px;
        position: relative;
        float: left;
        height: 100%;
        padding-top: 25px;
    }

    .details-container {
        padding: 10px;
        margin: 0 15px 15px 15px;
        border-radius: 10px;
        background-color: #222831;
    }

    .details div:not(:last-child) {
        margin: 0 0 10px 0;
    }
}
